.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    text-align: center;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 5.5rem;
    z-index: 12;
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
    cursor: pointer;

    @include respond(tabPort) {
      height: 7rem;
      width: 7rem;
      top: 2.5rem;
      right: 3.5rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 5.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 10;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

    @include respond(tabPort) {
      height: 7rem;
      width: 7rem;
      top: 2.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    display: grid;
    justify-content: center;
    align-content: center;
    opacity: 0;
    width: 0;
    transform: translateX(200px);
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    text-align: center;
    list-style: none;
  }

  &__item {
    margin: 1.5rem;
  }

  &__link {
    display: inline-block;
    font-size: 3rem;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, $color-white 0%, $color-white 50%, transparent 50%);
    background-size: 0%;
    background-repeat: no-repeat;
    transition: all 0.4s;
    padding: 0.5rem 2.2rem;

    &:hover {
      background-size: 240%;
      color: $color-grey-dark;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    transform: translateX(0);
  }

  &__checkbox:checked ~ &__nav &__list {
    opacity: 1;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  //X icon

  &__icon {
    position: relative;
    transform: translateY(2.9rem);
    transition: background-color 0.4s;
    @include respond(tabPort) {
      margin-top: 0.5rem;
    }
    &,
    &:before,
    &:after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      opacity: 1;
      transition: all 0.3s;
    }

    &:before {
      top: -1rem;
      @include respond(tabPort) {
      }
    }

    &:after {
      top: 1rem;
      @include respond(tabPort) {
      }
    }
  }

  &__button:hover &__icon:before {
    top: -1rem;
  }
  &__button:hover &__icon:after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon:before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon:after {
    top: 0;
    transform: rotate(-135deg);
  }
}
