.compotition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s linear;
    z-index: 1;
    outline-offset: 1rem;
    &--1 {
      left: 0;
      top: -2rem;
    }

    &--2 {
      right: 0;
      top: 2rem;
    }

    &--3 {
      left: 20%;
      top: calc(2rem + 5vw);
    }

    &:hover {
      transform: scale(1.1) translateY(-10px);
      z-index: 2;
      outline: 0.3rem solid $color-primary;
    }
  }

  &:hover > &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
