.u-center-text {
  text-align: center;
}

.u-mb-8 {
  margin-bottom: 8rem;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-4 {
  margin-bottom: 4rem;
}
.u-mt-12 {
  margin-top: 11rem;
}

.u-margin-center {
  margin: 0 auto;
}
